# Auto detect text files and perform LF normalization
* text=auto
*.sh -linguist-detectable
*.sql linguist-detectable
*.sql linguist-language=SQL
docs/* linguist-documentation
integration_tests/* linguist-documentation
